{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ site.title }}{% endset -%}
<meta charset="UTF-8">
<title>{{ pageTitle }}</title>
<meta name="description" content="{{ description or site.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any">
<link rel="icon" href="{{ '/icon.svg' | url }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | url }}">
<link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">
